[submodule "CMPUT 379 Assignments/dragonshell-f25-DIEPREYECD"]
	path = CMPUT 379 Assignments/dragonshell-f25-DIEPREYECD
	url = https://github.com/uoa-cmput379-fall25/dragonshell-f25-DIEPREYECD
[submodule "CMPUT 379 Assignments/assignment2-mapreduce-DIEPREYECD"]
	path = CMPUT 379 Assignments/assignment2-mapreduce-DIEPREYECD
	url = https://github.com/uoa-cmput379-fall25/assignment2-mapreduce-DIEPREYECD.git
